# Environment Variables Template
# Copy this file to .env and fill in your actual API keys
# Google Gemini API Keys (Add 1–10 keys for load balancing)
#if you don't have multiple gemini key just copy one key in all. but my recommendation is used atleast two different key for fallback mechanism to work properly
gemini_api_1=AIzaSyBlyAiT0DsDwtK-YlojHI7Ubsy2N0GE5O4
gemini_api_2=AIzaSyBlyAiT0DsDwtK-YlojHI7Ubsy2N0GE5O4
gemini_api_3=AIzaSyBlyAiT0DsDwtK-YlojHI7Ubsy2N0GE5O4
gemini_api_4=AIzaSyBlyAiT0DsDwtK-YlojHI7Ubsy2N0GE5O4
gemini_api_5=AIzaSyBlyAiT0DsDwtK-YlojHI7Ubsy2N0GE5O4
gemini_api_6=AIzaSyBlOgtk0-9tNSwkpAas8Hm_THHJgOlznqE
gemini_api_7=AIzaSyBlOgtk0-9tNSwkpAas8Hm_THHJgOlznqE
gemini_api_8=AIzaSyBlOgtk0-9tNSwkpAas8Hm_THHJgOlznqE
gemini_api_9=AIzaSyBlOgtk0-9tNSwkpAas8Hm_THHJgOlznqE
gemini_api_10=AIzaSyBlOgtk0-9tNSwkpAas8Hm_THHJgOlznqE
LLM_TIMEOUT_SECONDS=240
